{% extends 'base.html' %}
{% load static %}
{% block title %}Информация об авторе{% endblock %}    
{% block content %}
<div class="container py-5">
  <h1>Александр Королев</h1>
  <h4>г. Екатеринбург</h4>
  <img src="{% static 'img/Author.jpg' %}" width="256" height="341" class="d-inline-block align-top" alt="" align="top" /></p>
  <a href="https://github.com/AlexKing777111"GitHub
  <h4> Смотреть GitHub! </h4>
  </a>
  <p>29 когорта Яндекс.Практикум</p>
  <p>Python разработка</p>
</div>
{% endblock %}
