{% extends 'base.html' %}
{% load static %}
{% block title %}Информация об авторе{% endblock %}    
{% block content %}
<div class="container py-5">
  <h1>Технологии</h1><br><br><br>
  <h4>Проект разработан с помощью:</h4><br><br><br>
  <br>
  <img src="{% static 'img/python.jpg' %}" width="150" height="100" class="d-inline-block align-top" alt="" align="top" /><h6>Python</h6></p>
  <img src="{% static 'img/django.jpg' %}" width="150" height="150" class="d-inline-block align-top" alt="" align="top" /><h6>Django</h6></p>
</div>
{% endblock %}